@model ErrorViewModel
@{
    ViewData["Title"] = "ошибка";
}

<h1 class="text-danger">ошибка.</h1>
<h2 class="text-danger">При обработке запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


