@model StoreRCModels.RCModel

@{
    ViewData["Title"] = Model.nameRCModel;
}

<h1>@Model.nameRCModel</h1>
<p><strong>@Model.typeRCModel</strong></p>
<p>@Model.description</p>
<p>Цена <strong>@Model.price</strong></p>

